* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* body {
    background: linear-gradient(rgba(237, 129, 223, 0.267), rgba(123, 225, 238, 0.263));
} */


/* ================ NAVBAR SECTION ============  */

header {
    width: 100vw;
    height: auto;
    background: linear-gradient(rgba(205, 58, 185, 0.176), rgba(10, 87, 195, 0.263));
    padding-bottom: 5rem;
}

#nav {
    width: 100%;
    height: auto;
}

#nav .container {
    width: 90%;
    background-color: white;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem;
    position: relative;
    top: 1rem;
    border-radius: 1rem;
}

#nav .container .logo img {
    width: 50px;
}

#nav .container .navbar ul {
    display: flex;
}

#nav .container .navbar ul li {
    list-style: none;
    margin: 0rem 1rem;
}

#nav .container .navbar ul li a {
    text-decoration: none;
    color: black;
}

#entry {
    width: 100%;
    position: relative;
    top: 3rem;
}

#entry .container {
    width: 90%;
    margin: auto;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

#entry .container h1 {
    text-align: center;
}

#entry .container .form-container {
    background-color: rgba(128, 128, 128, 0.103);
    padding: 2rem 1rem;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 1rem;
}

#entry .container .form-container input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    border: 1px solid rgba(128, 128, 128, 0.158);
    border-radius: 10px;
}

#entry .container .form-container .button {
    cursor: pointer;
    background-color: rgb(132, 132, 238);
    color: white;
}